.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
  background-color: #ffffff;

  @media (min-width: 48rem) {
    position: sticky;
    top: 3rem;
  }
}

.cart-title {
  font-size: 1.5rem;
  text-shadow: var(--shadow);
  letter-spacing: 1px;
  color: hsl(14, 86%, 42%);
}

.cart-empty-img {
  height: 8rem;
  margin: 3rem 0 2rem 0;
}

.cart-empty-text {
  color: hsl(12, 20%, 44%);
  font-size: 0.875rem;
  font-weight: 600;
  text-align: center;
}

.cart-content {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.cart-content-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid hsl(7, 20%, 90%);
  padding-block: 0.875rem;

  .cart-item-infos-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 12px;
  }

  .cart-item-name {
    font-weight: bold;
  }

  .cart-item-quantity {
    font-weight: 600;
    color: hsl(14, 86%, 42%);
    margin-right: 1rem;
  }

  .cart-item-unity-price,
  .cart-item-total-price {
    color: hsl(12, 20%, 44%);
  }

  .cart-item-total-price {
    font-weight: 600;
    margin-left: 0.75rem;
  }
}

.cart-order-total-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 2rem;

  span {
    font-size: 1.75rem;
    font-weight: bold;
  }
}

.cart-info-message {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  background-color: var(--bg);
  padding-block: 1rem;
  border-radius: 0.5rem;
}

.cart-item-remove-button {
  display: flex;
  justify-content: center;
  height: 1.25rem;
  width: 1.25rem;
  border: 2px solid hsl(12, 20%, 64%);
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;

  img {
    width: 0.75rem;
    filter: brightness(0) saturate(100%) invert(84%) sepia(4%) saturate(1865%) hue-rotate(321deg) brightness(78%) contrast(77%);
  }
}

.cart-item-remove-button:hover {
  border-color: hsl(14, 65%, 9%);

  img {
    filter: brightness(0) saturate(100%) invert(6%) sepia(14%) saturate(4911%) hue-rotate(340deg) brightness(97%) contrast(98%);
  }
}