@import './base/reset.css';
@import './base/fonts.css';

:root {
  --bg: hsl(20, 50%, 98%);
  --text: #27100D;
  --shadow: 0.5px 0 0px currentColor, -0.5px 0 0px currentColor;
  --sans: 'Red Hat Text', sans-serif;
  /*
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5); */

  font: 1rem var(--sans);
  color: var(--text);
  background: var(--bg);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-inline: 1.5rem;

  @media (min-width: 48rem) {
    padding-inline: 7.5rem;
  }
}

.main-container {
  display: grid;
  flex-grow: 1;
  padding-block: 1.5rem;
  position: relative;

  .title-card-grid-group {
    margin-bottom: 2rem;
  }

  @media (min-width: 64rem) {
    grid-template-columns: 6fr 3fr;
    padding-block: 3rem;

    .title-card-grid-group {
      margin-right: 2rem;
    }
  }
}

.title {
  text-shadow: var(--shadow);
  letter-spacing: 1px;
  margin-bottom: 1.5rem;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;

  @media (min-width: 26.5625rem) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
  }
}