.card-container {
  width: 100%;
}

.card-img-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 2rem;

  .card-img-container {
    display: flex;
    justify-content: center;
    border: 2px solid transparent;
  }

  .card-img-container-selected {
    border: 2px solid hsl(14, 86%, 42%);
    border-radius: 0.5rem;
  }

  .card-img {
    width: 100%;
    border-radius: 0.5rem;
    object-fit: cover;

    @media (min-width: 26.5625rem) {
      aspect-ratio: 1 / 1;
    }
  }

  .card-button,
  .card-button-selected {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
    min-width: 9rem;
    min-height: 2.35rem;
    padding: 0.5rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 1.25rem;
    font-weight: 600;
    position: absolute;
    top: 100%;
    transform: translateY(-50%);
  }

  .card-button {
    background-color: #ffffff;
    border-color: hsl(12, 20%, 44%);
    color: var(--text);
    cursor: pointer;

    &:hover {
      border-color: hsl(14, 86%, 42%);
      color: hsl(14, 86%, 42%);
    }
  }

  .card-button-selected {
    background-color: hsl(14, 86%, 42%);
    border-color: hsl(14, 86%, 42%);
    color: #ffffff;
  }

  .card-button-set-quantity {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    width: 1rem;
    background-color: hsl(14, 86%, 42%);
    border: 1px solid #ffffff;
    border-radius: 50%;
    cursor: pointer;
  }

  .card-button-set-quantity:hover {
    background-color: #ffffff;

    img {
      filter: brightness(0) saturate(100%) invert(31%) sepia(99%) saturate(1263%) hue-rotate(352deg) brightness(82%) contrast(98%);
    }
  }
}

.card-infos {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  .card-info-category {
    color: hsl(12, 20%, 44%);
    font-size: 0.875rem;
  }

  .card-info-name {
    font-size: 1rem;
  }

  .card-info-price {
    color: hsl(14, 86%, 42%);
    font-weight: 600;
  }
}