.dessert-list-title {
  font-size: 2.3rem;
  margin-bottom: 1.5rem;
}

.dessert-list-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  gap: 1.5rem;

  @media (min-width: 26.5625rem) {
    grid-template-columns: repeat(auto-fit, minmax(15rem, 15rem));
  }
}